body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(47, 47, 70);
    font-family: 'Courier New', Courier, monospace;
}

.page-title {
    color: rgb(255, 255, 0);
    margin: 40px;
    font-style: oblique;
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 100px;
    background-color: rgb(123, 123, 148);
    align-items: center;
}

.container.top {
    border: 5px solid black;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    justify-content: flex-end;
}

.container.main {
    flex-direction: column;
    background-color: rgb(80, 80, 104);;
    border-left: 5px solid black;
    border-right: 5px solid black;
    height: 400px;
}

.container.choices {
    border: 5px solid black;
    justify-content: space-around;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 368px;
    width: 700px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(200, 200, 206);
}

.display.cards {
    display: flex;
    flex-direction: row;
    border: 0;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 228px;
}

.card.left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    
}

.card.right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    font-size: 20px;
    font-weight: bold;
}

.card-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 18px;
}

.display-outcome {
    display: flex;
    justify-content: center; 
    height: 160px;
}

.choices {
    color: rgb(255, 144, 144);
    font-size: 36px;
    font-weight: bold;
}

#new-game {
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    margin-right: 50px;
    border: 4px solid black;
    border-radius: 8px;
    background-color: rgb(220, 220, 226);
}

#new-game:hover {
    background-color: rgb(209, 209, 218);
    
}

#new-game:active {
    border: 5px solid black;
}

.choice-btn {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 2px solid black;
    background-color: rgb(220, 220, 226);
    font-size: 16px;
    font-weight: 600;
}

.choice-btn:hover {
    background-color: rgb(209, 209, 218);
}

.choice-btn:active {
    border: 3px solid black;
}